<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljf.dts.mapper.LjfUserMapper">

    <resultMap id="BaseResultMap" type="com.ljf.dts.domain.LjfUser">
            <id property="user_id" column="ljf_user_id" jdbcType="INTEGER"/>
            <result property="user_phone" column="ljf_user_phone" jdbcType="VARCHAR"/>
            <result property="user_psword" column="ljf_user_psword" jdbcType="VARCHAR"/>
            <result property="user_name" column="ljf_user_name" jdbcType="VARCHAR"/>
            <result property="user_ads_id" column="ljf_user_ads_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ljf_user_id,ljf_user_phone,ljf_user_psword,
        ljf_user_name,ljf_user_ads_id
    </sql>
</mapper>
